/* Common */

.dimmable {
	filter: brightness(1);
	transition-property: filter;
	transition-duration: 0.3s;
	transition-timing-function: ease-out;
}

.dimmable.dim {
	filter: brightness(0.75);
}

/* Launcher */

.aspinwall-launcher-flap {
	opacity: 1;
	transition-property: opacity;
	transition-duration: 0.3s;
	transition-timing-function: ease-out;
}

.aspinwall-launcher-flap.unfocused {
	opacity: 0.75;
}

/* Wallpaper */

.wallpaper-gradient {
	background: linear-gradient(0deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 35%);
}

.wallpaper-container {
	background: #000;
}

.wallpaper-container.dim {
	filter: brightness(0.6);
}

/* Clock */

.clockbox {
	color: #fff;
	text-shadow: 2px 2px 6px @aspinwall_widget_shade;
}

.clockbox .time {
	font-size: 4em;
	font-weight: 700;
	margin-left: -10px;
	letter-spacing: -2px;
	line-height: 1em;
	opacity: 0.85;
}

.clockbox .date {
	font-size: 0.85em;
	font-weight: 500;
	opacity: 0.75;
}

/* Clock sizing modes */

.clockbox.small {
	font-size: 1.5em;
}

.clockbox.medium {
	font-size: 1.85em;
}

.clockbox.large {
	font-size: 2.25em;
}

/* Widgets */

.widget-container, .widget-container > row {
	background: none;
	padding: 0;
}

.aspinwall-widget-wrapper {
	padding: 5px 0;
	border-radius: 10px;
}

.aspinwall-widget-wrapper.on-enter {
	box-shadow: inset 0 0 4px 4px rgba(28, 113, 216, 0.85);
}

.aspinwall-widget {
	background-color: @aspinwall_widget_bg;
	color: @aspinwall_widget_fg;
	border-radius: 10px;
	font-size: 1.25em;
	margin: 4px 10px;
	box-shadow: 2px 1px 5px @aspinwall_widget_shade;
	border: 1px solid @aspinwall_widget_border;
	opacity: 0.9;
}

.edit-button {
	opacity: 0.5;
}

.aspinwall-widget-wrapper {
	transition-property: opacity;
	transition-duration: 0.2s;
	transition-timing-function: ease-out;
}

.aspinwall-widget-wrapper.dragged {
	opacity: 0.35;
}

.aspinwall-widget-header {
	font-weight: bold;
	padding: 2px 5px;
	border-radius: 10px 10px 0 0;
	background-color: @aspinwall_widget_header_bg;
	color: @aspinwall_widget_header_fg;
	border-bottom: 1px solid @aspinwall_widget_border;
}

.aspinwall-widget-header button {
	padding: 4px;
}

.aspinwall-widget-header .linked.border button {
	border: 1px solid @aspinwall_widget_border;
}

.aspinwall-widget-header .close {
	border-radius: 100%;
	padding: 2px;
}

.aspinwall-widget-header .close:hover {
	background-color: @aspinwall_widget_header_close_bg;
}

.aspinwall-widget-content {
	padding: 10px;
	border-radius: 0 0 10px 10px;
}

.aspinwall-osd {
	opacity: 0.75;
}

.aspinwall-widget-remove {
	color: @destructive_color;
}

/* Widget settings */

.aspinwall-widget-settings {
	background-color: @aspinwall_menu_bg;
	color: @aspinwall_menu_fg;
	border: 1px @aspinwall_widget_border solid;
	border-radius: 10px;
}

.aspinwall-widget-settings .header {
	font-weight: bold;
	padding: 2px 5px;
	border-radius: 10px 10px 0 0;
	background-color: @aspinwall_widget_header_bg;
	color: @aspinwall_widget_header_fg;
	border-bottom: 1px solid @aspinwall_widget_border;
}

/* Widget chooser */

.widget-chooser {
	background-color: @aspinwall_menu_bg;
	color: @aspinwall_menu_fg;
	border-left: 1px @aspinwall_menu_border solid;
}

.widget-chooser-list {
	background-color: @aspinwall_menu_bg;
	color: @aspinwall_menu_fg;
}

.widget-chooser .header {
	background-color: @aspinwall_menu_header_bg;
	color: @aspinwall_menu_header_fg;
	border-bottom: 1px @aspinwall_menu_border solid;
	padding: 10px;
}

.widget-infobox {
	padding: 5px 10px 10px 10px;
}

/* App chooser */

.app-chooser {
	background-color: @aspinwall_menu_bg;
	color: @aspinwall_menu_fg;
}

.app-chooser .header {
	background-color: @aspinwall_menu_header_bg;
	color: @aspinwall_menu_header_fg;
	border-bottom: 1px @aspinwall_menu_border solid;
	padding: 10px;
}

.app-grid-separator {
	color: rgba(128, 128, 128, 0.75);
}

.app-icon {
	font-weight: 400;
}

.app-icon, .app-icon:hover {
	background: none;
	padding: 0;
	margin: 0;
	border: 1px solid transparent;
}

.app-icon:hover, .app-icon:focus {
  background: @aspinwall_widget_shade;
  border-radius: 5px;
}

.app-icon:focus {
  border-color: @accent_color;
}

/* Launcher settings window */
.launcher-settings {
	background-color: @aspinwall_menu_bg;
	color: @aspinwall_menu_fg;
}

.wallpaper-grid-header {
	margin-left: 12px;
	margin-right: 12px;
	min-height: 50px;
}

.wallpaper-grid-header .title {
	margin-top: 6px;
	margin-bottom: 6px;
	border-spacing: 3px;
}

.wallpaper-grid {
	padding: 12px;
	border-radius: 10px;
}

.wallpaper-preview-container {
	padding: 12px 0;
}

.wallpaper-preview {
	border: 1px solid @borders;
}

.settings-mock-button {
	border-radius: 3px;
	padding: 3px;
	opacity: 0.75;
}

.settings-mock-widget {
	border-radius: 3px;
	background-color: @aspinwall_widget_bg;
	color: @aspinwall_widget_fg;
	box-shadow: 2px 1px 5px @aspinwall_widget_shade;
	border: 1px solid @aspinwall_widget_border;
	opacity: 0.9;
}

/* About window */
.aspinwall-about {
	background-color: @aspinwall_menu_bg;
	color: @aspinwall_menu_fg;
}
