.aspinwall-widget-wrapper {
	padding: 5px 0;
}

.aspinwall-widget-wrapper.on-enter {
	 box-shadow: inset 0 0 4px 1px #1c71d8;
}

.aspinwall-widget {
	background-color: @aspinwall_widget_bg;
	color: @aspinwall_widget_fg;
	border-radius: 10px;
	font-size: 1.25em;
	margin: 4px 10px;
	box-shadow: 2px 1px 1px @aspinwall_widget_shade;
}

.aspinwall-widget-wrapper {
	transition-property: opacity;
	transition-duration: 0.2s;
	transition-timing-function: ease-out;
}

.aspinwall-widget-wrapper.dragged {
	opacity: 0.35;
}

.aspinwall-widget-header {
	font-weight: bold;
	padding: 2px 5px;
	border-radius: 10px 10px 0 0;
	background-color: @aspinwall_widget_header_bg;
	color: @aspinwall_widget_header_fg;
	border: 1px solid @aspinwall_widget_border;
	border-bottom: none;
}

.aspinwall-widget-header button {
	padding: 4px;
}

.aspinwall-widget-header .linked.border button {
	border: 1px solid @aspinwall_widget_border;	
}

.aspinwall-widget-header .close {
	border-radius: 100%;
	padding: 2px;
}

.aspinwall-widget-header .close:hover {
	background-color: @aspinwall_widget_header_close_bg;
}

.aspinwall-widget-content {
	padding: 10px;
	border: 1px solid @aspinwall_widget_border;
	border-radius: 0 0 10px 10px;
}

/* Widget chooser */

.widget-chooser {
	background-color: @aspinwall_menu_bg;
	color: @aspinwall_menu_fg;
}

.widget-chooser .header {
	background-color: @aspinwall_menu_header_bg;
	color: @aspinwall_menu_header_fg;
	border-bottom: 1px @aspinwall_menu_border solid;
}

.widget-infobox {
	padding: 5px 10px 10px;
}

.widget-infobox .add {
	padding: 2px;
}

/* App chooser */

.app-chooser {
	background-color: @aspinwall_menu_bg;
	color: @aspinwall_menu_fg;
}

.app-chooser .header {
	background-color: @aspinwall_menu_header_bg;
	color: @aspinwall_menu_header_fg;
	border-bottom: 1px @aspinwall_menu_border solid;
	padding: 10px;
}

.app-chooser .app-grid child {
	padding: 10px;
}
