.aspinwall-widget {
	background-color: lighter(@theme_bg_color);
	border-radius: 10px;
	font-size: 1.25em;
	box-shadow: 2px 2px 6px darker(@theme_bg_color);
}

.aspinwall-widget-header {
	font-weight: bold;
	padding: 10px;
	border-bottom: 2px solid mix(@theme_bg_color, darker(@theme_bg_color), 0.5);
}

.aspinwall-widget-content {
	padding: 10px;
}
